[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
django-crispy-forms = "*"
django-allauth = "*"
pillow = "*"
stripe = "==2.32.0"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.7"
